/* Media Queries */
/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    body{
        width: 100%;
    }
    .responsiveTablet{
        display: none;
    }
    header {
        display: flex;
    }
    .logoImagen{
        border: solid 1px $colorVioleta;
    }
    h1{
        color: $colorVioleta;
        font-size: 40px;
    }
    /* Estilos al Nav */
    nav{
        background-color: $colorNav;
        border-top:groove 2px black;
        border-bottom:groove 2px black;
        section{
            display: flex;
            margin-top: 0.2%;
            align-items: center;
            span{
                padding: 1%;
                font-size: 20px;
                a{
                    font-weight: 900;
                }
            }
        }
    }
    /* Estilos al Main */
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sectionMainUno{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 1%;
        }
        .sectionMainDos{
            display: flex;
            justify-content: center;
            .tamañoImagen{
                width: 80%;
            }
        }
        .sectionMainTres{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .suscribirse{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 1%;
    }
    section input{
        padding: 0%;
        margin: 0%;
    }
    .sectionMainUno{
        order: 1;
    }
    /* Estilos al Footer */
    footer{
        display: flex;
        background-color: $colorCeleste;
        section{
            h2{
                font-size: 25px;
                color: $colorVioleta;
            }
        }
        section{
            p{
                font-size: 20px;
                font-weight: 800;
                text-align: center;
            }
        }
    }
    footer{
        .sectionFooterUno{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 33%
        }
        h2{
            .tituloUbicacion{
                margin-left: 0%;
            }
        }
        .sectionFooterDos{
            display: flex;
            flex-direction: column;
            width: 33%;
        }
        .sectionFooterTres{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 33%;
        }
    }
    .alineacionDatos{
        font-weight: 700;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    /* Clases a Contacto.html */
    /* Alineacion Formulario */
    .mainContacto{
        display: flex
    }
    main{
        section{
            .textoGrande{
                font-size: 50px;
                margin-top: 0.5%;
            }
        }
    }
    main{
        .sectionFormularioUno{
            display: flex;
            flex-direction: column;
            width: 80%;
            /* Alineacion botones formulario */
            .alineacionEnviar{
                border-color: $colorCeleste;
                padding: 3%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
            .alineacionBorrar{
                border-color: $colorCeleste;
                padding: 3%;
                margin-bottom: 5%;
            }
        }
    }
    /* Clases Tarifas.html */
    main{
        .titulo{
            /* Titulo */
            margin-top: 3%;
            margin-bottom: 3%;
            font-size: 35px;
        }
        .sectionTarifas{
            /* Section Tarifas */
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3%;
            margin-bottom: 3%;
            /* Alineacion Servicios */
            .servicios{
                margin-top: 3%;
                margin-bottom: 3%;
                font-size: 20px;
                font-weight: 700;
                /* Alineacion Tarifa */
                .tarifa{
                    margin-top: 5%;
                    margin-bottom: 5%;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    /* Clases Galeria */
    /* Titulo */
    .mainGaleria{
        display: flex;
        flex-direction: column;
        align-content: center;
        .titulo{
            font-size: 50px;
        }
        .sectionGaleriaUno{
            display: flex;
            flex-direction: column;
        }
        .sectionGaleriaDos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sectionGaleriaTres{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sectionGaleriaCuatro{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sectionGaleriaCinco{
            display: flex;
            flex-direction: column;
        }
        .sectionGaleriaSeis{
            display: flex;
            flex-direction: column;
            align-items:center;
            }
    }
    /* Borde Imagenes */
    .borde{
        border: solid 3px $colorCeleste;
        margin-top: 1%;
        margin-bottom: 0.5%;
        margin-left: 0%;
        width: 95%
    }
    /* Parrafo Imagenes */
    .parrafo{
        font-size: 30px;
        font-weight: 600;
    }
}